input, textarea, button, select {
    font-family: inherit;
}

.root > * {
    margin-bottom: 1rem;
}

.btn-green {
    background-color: green;
    color: white;
}
.btn-red {
    background-color: red;
    color: white;
}

table, th, td {
    padding: 0.2rem;
    width: 25rem;
    border: 1px solid black;
    border-collapse: collapse;
}

.cell-number {
    text-align: right;
}