.btn-green {
    background-color: green;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
}

.btn-orange {
    background-color: orange;
}

.btn-tab-active {
    background-color: green;
    color: white;
}

.btn-tab-inactive {
    background-color: white;
    color: black;
}